/********************/
/******  login ******/
/********************/
.form-remenber {
    text-align: center;
}

.form-login {
    text-align: center;
}
.form-login a {
    margin-top: 15px;
}
.form-login a:nth-child(3) {
    display: block;
    margin-top: 20px;
}

.form-check-label:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 14px;
    height: 14px;
    content: '';
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    margin: 0 auto;
    right: 165px;
    bottom: 0;
}
.form-check-input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: 0px;
    width: 7px;
    height: 12px;
    transform: rotate(40deg);
    border-bottom: 3px solid #666766;
    border-right: 3px solid #666766;
    right: 163px;
    bottom: 0;
    margin: 0 auto;
}

/********************/
/***** register *****/
/********************/
.birth {
    display: flex;
    flex-wrap: wrap;
}
.birth span {
    margin-top: 8px;
    margin-right: 10px;
}

.month {
    margin-left: 15px;
}