/********************/
/******  login ******/
/********************/
.form-remenber {
    text-align: center;
}

.form-login {
    text-align: center;
}
.form-login a {
    margin-top: 15px;
}


/********************/
/***** register *****/
/********************/