body {
    background-color: #EFEFEF;
    font-family: monospace,YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3';
}

h1 {
    font-size: inherit;
}

input[type=radio], input[type=checkbox] {
    display: none;
}

ul {
    padding: 0;
    list-style: none;
}
ul p {
    margin-bottom: 0;
}

a:hover {
    color: #000;
    text-decoration: unset;
}
a:active {
    background-color: #d1d1d1 !important;
}
a:active > li,
a:active > p,
a:active > img {
    background-color: #d1d1d1;
}

.error {
    border-color: red !important;
}
.error::placeholder {
    color: red !important;
}

.display-none {
    display: none;
}

.btn {
    border: 1px solid #ced4da;
    box-shadow: 2px 2px #dcdcdc;
}

.catch {
    color: #6b757d;
    font-weight: bold;
    font-size: 10px;
}
.catch span {
    display: block;
    font-size: 10px;
}
.catch span:nth-child(1) {
    font-size: 14px;
}
.flash {
    position: fixed;
    color: #fff;
    font-weight: bold;
    width: 100vw;
    left: 0;
    opacity: 0.9;
    z-index: 1000;
}

.verify-notice {
    margin-bottom: 10px;
    font-size: 10px;
    background-color: aqua;
    width: 100%;
}

.container {
    width: 100vw;
    font-size: 14px;
    min-height: 100vh;
    padding-top: 65px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 100px;
    margin-bottom: -100px;
    background-color:#EFEFEF;
    position: relative;
}
@media screen and (max-width:480px){
    .container{
        min-height: 100vh;
    }
}

/* ナビ */
.navbar {
    position: fixed;
    width: 100vw;
    padding: 0;
    z-index: 10000;
}
.nav-header {
    font-family: 'Wawati SC',YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',monospace;
    display: flex;
    width: 100%;
    height: 55px;
    background: linear-gradient(#800000,#d00000,#d00000,#800000);
    color: #fff;
}
.nav-header a {
    color: #fff;
    border: solid 1px #e1e2e1;
    font-size: 10px;
    text-align: center;
    padding: 0px;
    line-height: 55px;
}
.nav-header>a:nth-child(1) {
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    padding-top: 8px;
}
.nav-header>a:nth-child(4) {
    line-height: initial;
    padding-top: 12px;
}
.nav-header>a h1,
.nav-header>a span:nth-child(1) {
    font-size: 10px;
    margin: 0;
    display: block;
    line-height: 1;
}
.nav-header a.previous {
    line-height: 2.5;
    padding: 0;
}
.nav-header .page-title {
    font-size: 14px;
    line-height: 3.5;
    text-align: center;
    margin: 0;
    border: solid 1px #e1e2e1;
}
.nav-header img {
    max-height: 30px;
    max-width: 30px;
    height: auto;
    width: auto;
}
.nav-header .side-open {
    border: solid 1px #e1e2e1;
    font-size: 10px;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 55px;
}
.nav-header .side-open span:before {
    position: absolute;
    top: 25px;
    content: '';
    border-top: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
#nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
}
#nav-input:checked ~ #nav-side {
    transform: unset;
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
    right: 5px;
    top: 50px;
}
@media screen and (max-width:480px){
    #nav-input:checked ~ #nav-side {;
        -webkit-transform: translateX(calc(100vw - 175px));
        transform: translateX(calc(100vw - 175px));/*中身を表示（左へスライド）*/
    }
}
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#nav-side {
    overflow: auto;
    position: fixed;
    top: 45px;
    left: 5px;
    z-index: 9999;
    width: 50%;
    height: auto;
    background: linear-gradient(#800000,#d00000,#d00000,#800000);
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
}
@media screen and (max-width:480px){
    #nav-side {;
        max-width: 200px;
    }
}
#nav-side ul {
    margin: 0;
    padding: 0;
}
#nav-side li:nth-child(1) {
    padding: 5px;
}
#nav-side li a {
    display: block;
    border: unset;
    text-align: left;
    padding-left: 10px;
}

.landing-post {
    background: linear-gradient(#800000,#d00000,#d00000,#800000);
    padding: 10px;
    color: #fff;
    text-align: center;
}
.search form {
    display: flex;
}
.search form button {
    width: 70px;
}

.search-btn {
    display: flex;
    justify-content: space-between;
}
.search-btn a {
    font-size: 10px;
    width: calc(100% / 2 - 2px);
    background-color: #fff;
}

/* フォーム */
.form-group {
    margin-bottom: 15px;
}
.form-group input::placeholder
{
    text-align: center;
}


/* セレクトボックス */
.select-parent{
  position: relative; }

.select-parent:after{
  content: '';
  border-top: 6px solid #666766;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  top: 17px;
  right: 10px;
  pointer-events: none; }

select {
  height: 40px;
  width: 90px;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  padding: 0px 10px;
  -webkit-appearance: none;
  appearance: none;
  font-size: 18px;
  background-color: #fff; }

select.inactive {
  background-color: #BDBDBD;
  color: #313131 !important; }

/* ラジオボタン */
input[type="radio"]{
  display: none; }

.radioDefault{
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-left: 8px;
  padding: 5px 15px;
  border-radius: 2px;
  color: #212121;
  font-size: 14px;
  text-align: center;
  line-height: 1; }

.radioDefault:before{
  position: absolute;
  content: "";
  top: 50%;
  left: -8px;
  width: 15px;
  height: 15px;
  margin-top: -7px;
  border: 1px solid #9E9E9E;
  border-radius: 50%; }

input[type="radio"]:checked + .radioDefault:after {
  position: absolute;
  content: "";
  top: 58%;
  left: -5px;
  width: 9px;
  height: 9px;
  margin-top: -6px;
  border-radius: 50%;
  background: #666766; }

/* チェックボックス */
.form-check {
    line-height: 1;
}
.form-check-label {
    position: relative;
    display: block;
    padding-left: 20px;
    line-height: 1;
    overflow: hidden;
    -webkit-transition: all 0.15s ease;
}
.form-check-label:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    content: '';
    border: 1px solid #BDBDBD;
    border-radius: 3px;
}
.form-check-input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: 4px;
    width: 7px;
    height: 12px;
    transform: rotate(40deg);
    border-bottom: 3px solid #666766;
    border-right: 3px solid #666766;
}


/* ページのタイトルヘッダ */
.content-head {
    font-size: 21px;
    margin-bottom: 10px;
}

/* ページ段落のヘッダー */
.block-head {
    display: flex;
}
.block-head p,
.block-head a,
.block-head h1,
.block-head h2 {
    width: 50%;
    text-align: right;
    font-size: 20px;
}
.block-head p,
.block-head h1,
.block-head h2 {
    margin-bottom: 1rem;
    border-bottom: solid 1px #000;
}
.block-head a {
    font-size: 12px;
}
/* カード */
.link {
    color: unset;
}
.card {
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
    box-shadow: 2px 2px #dcdcdc;
}
.link:active > div.card {
    background-color: #d1d1d1;
}
.link.no-active:active > div.card {
    background-color: #fff;
}
.card-head {
    display: flex;
}
.card-title {
    width: calc(100% - 35px);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}
.fa-star {
    color: #ff8100;
}
.star-wrap {
    position: absolute;
    width: 40px;
    text-align: center;
    height: 40px;
    padding: 10px;
    right: 5px;
}
.star-wrap:active {
    background-color: #d1d1d1 !important;
}

.rank {
    font-size: 20px;
    margin-right: 10px;
}
.card-body {
    display: flex;
    padding: 0;
    font-size: 13px;
}
.card-body-footer {
    font-size: 12px;
}

/* ログと店舗のカード表示 */
.post-img,
.shop-img,
.user-img {
    width: 80px;
    height: 80px;
    text-align: center;
}
.post-img img,
.shop-img img,
.user-img img {
    width: auto;
    height: auto;
    max-width: 80px;
    max-height: 80px;
}
.post-text,
.shop-text,
.user-text {
    width: 100%;
}
.post-text ul,
.shop-text ul,
.user-text ul {
    padding-left: 10px;
    margin: 0;
}
.shop-text ul,
.user-text ul {
    justify-content: space-between;
    display: block;
    font-size: 10px;
    padding-left: 10px;
}
.post-text ul li:nth-child(1),
.shop-text ul li:nth-child(1) {
    margin-bottom: 5px;
}
.shop-text ul li:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
}
.post-text-top {
    display: flex;
    justify-content: space-between;
}
.post-text-top p img {
    max-width: 30px;
    max-height: 30px;
    margin-right: 5px;
    width: auto;
    height: auto;
}
.post-text-top p:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
}
.post-text-top p:nth-child(1).name {
    font-size: 14px;
    width: calc(100vw - 125px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
}
.post-text-center {
    font-size: 12px;
    margin-bottom: 10px;
}
.post-text-center a {
    font-weight: normal;
    position: relative;
}
.post-text-center p:nth-child(1){
    color: black;
    font-weight: bold;
    display: inline;
    font-size: 12px;
}
.post-text-center span {
    padding-left: 10px;
}
.post-text-under {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0;
}
.post-detail-link {
    margin: 0;
    display: flex;
    justify-content: start;
    border-top: solid 0.5px #ced4da;
    padding: 5px 0px 5px 20px;
}
.post-detail-link li {
    margin-right: 20px;
}
.like {
    color: #007bff !important;
}
.liked {
    font-weight: bold;
}


/* ページャー */
.paginator {
    margin-bottom: 15px;
    text-align: center;
}
.paginator span {
    font-size: 20px;
    margin: 0 20px;
}
.paginator button {
    font-weight: bold;
}
.paginator button:disabled {
    font-weight: unset;
}

/* フッター */
.footer {
    height: 100px;
    background: linear-gradient(#800000,#d00000,#d00000,#800000);
    display: block;
    position: relative;
}
.share-area {
    line-height: 0;
    padding: 10px;
}
.ask {
    margin-left: 10px;
    color: #fff;
    font-size: 14px;
}
.sponsored {
    float: right;
    margin-right: 20px;
}

.icon {
    border-radius: 100%;
}

.register {
    font-size: 14px;
}

.ad {
    margin-top: 15px;
    margin-bottom: 15px;
}