.search form {
    display: flex;
}
.search form button {
    width: 70px;
}

.search-btn {
    display: flex;
    justify-content: space-between;
}
.search-btn a {
    font-size: 10px;
    width: 110px;
    background-color: #fff;
}

