a:hover > div.card {
    color: #000;
}

.search form {
    display: flex;
}
.search form button {
    width: 70px;
}

.search-btn {
    display: flex;
    justify-content: space-between;
}
.search-btn a {
    font-size: 10px;
    width: calc(100% / 3 - 2px);
    background-color: #fff;
}

