.popularity-img {
    width: 80px;
    height: 80px;
    text-align: center;
}
.popularity-img img {
    width: auto;
    height: auto;
    max-width: 80px;
    max-height: 80px;
}
.popularity-text ul {
    padding-left: 10px;
    margin: 0;
}
.popularity-text ul li {
    font-size: 10px;
    margin-bottom: 5px;
}

.block-body {
    margin-bottom: 15px;
}

.post-text-center span {
    left: 231px;
}


/************************/
/******** show  *********/
/************************/
.user-thumbnail {
    width: 100%;
    padding: 10px;
}
.user-thumbnail img {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border: solid 0.5px #dfdfdf;
}
.user-thumbnail a {
    width: 100%;
}
.user-thumbnail a div {
    display: block;
    text-align: center;
    background-color: #fff;
    line-height: 1;
    padding: 16px;
    border: solid 0.5px #dfdfdf;
    border-radius: 20px;
    margin-left: 10px;
    color: #97999b;
}

.shop-detail {
    background-color: unset;
    border: unset;
}
.shop-text ul li:nth-child(1) {
    font-size: unset;
    font-weight: unset;
    margin: 0;
}
.shop-text ul li:nth-child(3),
.shop-text ul li:nth-child(4) {
    margin-bottom: 5px;
}

.gnavi-link {
    font-size: 12px;
}

.post {
    padding: 10px 5px;
}
.post .card-body {
    display: block;
}

.post-img {
    display: flex;
    width: 100%;
    height: auto;
}
.post-img li {
    margin: 1px;
    width: calc(100% / 3 - 2px)
}
.post-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.post-text-center p:nth-child(1) {
    margin-bottom: 10px;
}
.post-text-center p:nth-child(2) {
    font-weight: normal;
}

.comment {
    width: 100%;
    padding: 10px;
    display: flex;
}
.comment img {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border: solid 0.5px #dfdfdf;
    margin-top: 2px;
}
.comment-text {
    width: 100%;
}
.comment-text {
    display: block;
    background-color: #fff;
    line-height: 1;
    padding: 10px;
    border: solid 0.5px #dfdfdf;
    border-radius: 20px;
    margin-left: 10px;
    font-size: 12px;
}
.comment-text span:nth-child(1) {
    margin-right: 10px;
}

.comment-input {
    resize: none;
}
.comment-input::placeholder {
    padding: 10px;
}