.card {
    background-color: unset;
    border: unset;
    box-shadow: unset;
}

.selective {
    display: flex;
    margin-bottom: 10px;
}
.selective div {
    width: 50%;
}

.title {
    height: 40px !important;
    margin-bottom: 10px;
    resize: none;
}

.contents {
    height: 200px !important;
    resize: none;
}

.file-list {
    display: flex;
}
.file-list .preview-area {
    width: calc(100% / 3);
    height: 80px;
    display: block;
    border: dotted 3px #ced4da;
    border-radius: 10px;
    margin: 20px 3px;
    position: relative;
    color: #ced4da;
}
.file-list .preview-area:active {
    background-color: #d1d1d1 !important;
}
.file-list .preview-area span {
    margin-left: 10px;
}
.file-list .preview-area span::before,
.file-list .preview-area span::after {
    display: block;
    content: "";
    position: absolute;
    top: 60%;
    left: 75%;
    width: 35%;
    height: 7%;
    margin: -8% 0 0 -42%;
    background: #ced4da;
}
.file-list .preview-area span::after {
    transform: rotate(90deg);
}
.file-list input {
    display: none;
}
.uploaded {
    border: unset !important;
    text-align: center;
}
.preview {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}