.card-body {
    display: block;
}

.post-img {
    display: flex;
    width: 100%;
    height: auto;
}
.post-img li {
    margin: 1px;
    width: calc(100% / 3 - 2px)
}
.post-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.post-text-top p:nth-child(1).name {
    width: calc(100vw - 45px);
}
.post-text-center p:nth-child(1) {
    margin-bottom: 10px;
    display: block;
}
.post-text-center p:nth-child(2) {
    font-weight: normal;
}

.comment {
    width: 100%;
    padding: 10px;
    display: flex;
}
.comment img {
    height: 45px;
    border-radius: 100%;
    border: solid 0.5px #dfdfdf;
    margin-top: 2px;
}
.comment-text {
    width: 100%;
}
.comment-text {
    display: block;
    background-color: #fff;
    line-height: 1;
    padding: 10px;
    border: solid 0.5px #dfdfdf;
    border-radius: 20px;
    margin-left: 10px;
    font-size: 12px;
}
.comment-text span:nth-child(1) {
    margin-right: 10px;
}

.comment-text div {
    white-space: pre-line;
}
.comment-input {
    resize: none;
}
.comment-input::placeholder {
    padding: 10px;
}
.comment-del-form button {
    width: 42px;
    font-size: 12px;
    margin-top: 1px;
    padding: 12px 0px;
}

#delete-post-form {
    margin-top: 15px;
}