.block-head a {
    width: 100%;
}
.block-body {
    margin-top: 25px;
}

.user-follow {
    position: absolute;
    right: 20px;
}

.user-text ul {
    display: flex;
    flex-wrap: wrap;
}
.user-text ul li {
    width: 50%;
    margin-bottom: 5px;
}
.user-text ul li.contents {
    width: 100%;
}

.users-page-tab {
    font-family: Wawati SC;
    display: flex;
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
}
.users-page-tab a {
    width: 25%;
    color: #fff;
    background: linear-gradient(#800000,#d00000,#d00000,#800000);
    line-height: 50px;
    text-align: center;
    border: solid 0.5px #efefef;
}
.users-page-tab a.current {
    background: #ffffff;
    color: #950000;
    font-weight: bold;
}

.user-card {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 3px;
}
.user-card img {
    height: 50px;
    margin-right: 10px;
}

.follow-card {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 3px;
}
.follow-card img {
    height: 50px;
    margin-right: 10px;
}
.follow-card a:nth-child(2) {
    margin: 14px;
}
.follow-card .follow-icon {
    float: right;
    margin: 12px 0;
}
.follow-card. followed-li {
    margin: 12px 0;
}
.follow-card .follow-li {
    margin: 10px 0;
}
.follow-icon span.followed:after{
    content:"";
    display:block;
    position:absolute;
}
.follow-icon span.followed:after{
    border-left:2px solid #fff;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    width: 11px;
    height: 9px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 3px;
    top: 3px;
}

.follow-link div {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  border: solid 0.5px #950000;
  top: 5px;
}
.follow-icon.followed-li .follow-link div {
  background-color: #950000;
}
.follow-icon .follow-link div span.follow {
    position: unset;
}
.follow-icon .follow-link  div span.follow::before,
.follow-icon .follow-link div span.follow::after {
  display: block;
  content: "";
  position: absolute;
  top: 8px;
  left: 2px;
  width: 70%;
  height: 12%;
  background: #950000;
}
.follow-icon .follow-link div span.follow::after {
  transform: rotate(90deg);
}

.empty-comment {
    display: block;
    margin: 20px;
}

.delete-link {
    position: absolute;
    right: 20px;
    bottom: 10px;
}