.delete-link {
    position: absolute;
    right: 30px;
    padding: 0;
    background-color: unset;
    border: unset;
}

.search button,
.search button:active {
    background: #d00000 !important;
    border-color: #d00000 !important;
}
.search-btn a span {
    display: block;
}