.delete-link {
    position: absolute;
    right: 30px;
    padding: 0;
    background-color: unset;
    border: unset;
}

.search button {
    background: #d00000;
    border-color: #d00000;
}
.search-btn a span {
    display: block;
}